<div class="container-fluid">
    <body>
        <div class="container">

          <div class="row">
            <div class="col-md-6 offset-md-2">

    <form (keyup)="findProfile()" #userForm="ngForm">
      <div>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" [(ngModel)]="userName" name="userName" type="search" placeholder="Search Repo" aria-label="Search">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
        </form>
        <h1  id="dark" class= " text-center" >Repositories</h1>

      </div>
  </form>
            </div>
          </div>
                <div  *ngIf="profileService.newRepo">
                    <div class="row m-0 p-ocol-container">
          <div class="col-container col-md-4 col card mb-5" *ngFor='let repository of profileService.newRepo'>
              <div class="card-header">
                  <a href="{{repository.html_url}}" target="_blank" >{{repository.name}}</a>
              </div>
              <div class="card-body">
                  <p ><span style="color: grey">Description:</span>  <br>{{repository.description}}</p>
              </div>
            </div>
      </div>



                </div>


            </div>



        </body>



</div>
